@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');


$px-font:			'Jost', sans-serif !default;


// Theme Variable

$px-theme:				#ff8800;
$px-white:				#fff;
$px-black:				#2b3743;

$px-text:				#707476;
$px-heading:			#2b3743;




// Breakpoints
$px-media-xsm:		567px !default;
$px-media-sm:		767px !default;
$px-media-md:		991px !default;
$px-media-lg:		1200px !default;
