<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>Current Interest</h6>
                <h2>Get a powerful website that delivers results with an all-in-one solution</h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="bi-code-square"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Web Design</h5>
                    <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one website solution that covers design, development, and content creation</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-palette"></i></span>
                </div>
                <div class="feature-content">
                    <h5>UI/UX Designer</h5>
                    <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one website solution that covers design, development, and content creation</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-speedometer2"></i></span>
                </div>
                <div class="feature-content">
                    <h5>User research</h5>
                    <p>Say goodbye to the hassle of managing multiple providers and get an all-in-one website solution that covers design, development, and content creation</p>
                </div>
            </div>
        </div>
    </div>
</div>