<div class="container">
    <div class="section-heading text-center mb-2">
        <h2 class="m-0">Featured Projects</h2>
    </div>
    <div class="row gx-0">
        <div class="project-box gy-5" style="background-image: url(assets/img/ffio.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Find4.io</h3>
                        <h5>Founder & Sole Dev, Aug. ‘24 - Now</h5>
                        <p>I'm currently working on a Connect 4 on-chain (Sui) game where all single player and multi player interactions happen through transactions, & I'm creating a native app coin with staking & play to earn capabilities.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="http://find4.io" target="_blank"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>React</span>
                        <span>Sui TS SDK</span>
                        <span>Move (Sui)</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/beest.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Mr. Beest NFT Collection</h3>
                        <h5>Creator, Nov. ‘23 - Apr. '24</h5>
                        <p>I created and published “Mr. Beest” NFT collection minting candy machine & original artwork on Solana blockchain.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="https://mr-beest-nft-candy-machine.vercel.app/" target="_blank"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Metaplex Candy Machine</span>
                        <span>Vercel</span>
                        <!-- <span>Spl-token</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/wwg.jpg);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>We Want Green LLC</h3>
                        <h5>Founder, President, CEO, Mar. '21 - Mar. '24</h5> 
                        <p>WWG was a start up company I created to facilitate the expansion of my Helium crypto mining machine endeavors. At its peak I had about 30 hotspots deployed all over my region and a few on the west coast. </p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#wwg"><span>More Info</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Node.js</span>
                        <!-- <span>3D Printing</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/popt.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Proof of Play Games</h3>
                        <h5>Founder, "Sol"e Dev, Sep. ‘23 - Apr. ‘24</h5>
                        <p>I learned a lot from this project. It had a thriving community of thousands of Discord members and players, two mobile applications, multiple mint servers, special NFT accessible content, and more.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#pop_games_popup"><span>More Info</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Helius RPC (Solana)</span>
                        <span>Phantom Connect</span>
                        <span>Android Studio</span>
                        <span>Swift (iOS)</span>
                        <span>Node.js</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/shelldon.jpeg);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Shelldon Robot</h3>
                        <h5>Arduino Robotics Software Dev ‘23</h5> 
                        <p>All self taught. I made a robot that connects to wifi and can be remotely controlled via an plain HTML page as a controller. Also built a live feed from the camera to the webpage (lots of image data processing).</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#shelldon"><span>More Info</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>AutoDesk Fusion 360</span>
                        <span>3D Printing</span>
                        <span>Ultimaker Cura</span>
                        <span>Arduino</span>
                        <span>Node.js</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/ios.jpeg);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Apple Developer Program</h3>
                        <h5>Individual iOS Developer Jan. '11 - Now</h5> 
                        <p>Self taught myself Objective-C (enough to create my game). Started on Scratch, eventually moving to another drag and drop software, then to XCode & Objective-C, and finally, Swift. When I was 14 years old, I released my first iOS app, "Speed Square", to the App Store, followed by a handful of others over the years including but not limited to "55 Fast", "Beest", and "#Ultimate Tic-Tac-Toe" (some no longer available). 
                            This was my introduction to software development, and from that early age I knew it was something I loved to do.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="https://apps.apple.com/to/developer/steven-grutman/id500309753" target="_blank"><span>See More</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Objective-C</span>
                        <span>Swift</span>
                        <span>XCode</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="project-box gy-5" style="background-image: url(assets/img/hailz.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Hailizclothez.com</h3>
                        <h5>Freelance Developer ‘20</h5> 
                        <p>I created an ecommerce website for a small business who sells custom clothes for college kids. Built with Angular 8, Firebase (hosting, database, storage), & Stripe.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="https://hailizclothez.com/" target="_blank"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Stripe API</span>
                        <span>Firebase</span>
                        <span>Angular</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/vite.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Vite LLC</h3>
                        <h5>Co-Founder, CTO, '17 - '18</h5> 
                        <p>Vite was an app that would act as a digital business card, fully customizable for each exchange of information. I was approached in college to develop Vite as a mobile app for two business majors and join the team as a co-founder. I built the entire application and handled publishing it.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="https://github.com/sgrutman978/vite2" target="_blank"><span>Repo</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Firebase Data & Auth</span>
                        <span>Swift</span>
                        <span>QR Code Generator</span>
                        <span>Facebook SDK</span>
                        <span>Twitter SDK</span>
                        <!-- <span>3D Printing</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/wristband.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Wristband LLC</h3>
                        <h5>Co-Founder, CTO, '16</h5> 
                        <p>Wristband was an app to handle bar cover transactions, as well as marketing material for bars to interact directly with customers. I was approached in college to develop Wristband as a mobile app for two business majors (different than Vite) and join the team as a co-founder. I built the entire application, although it never came to fruition.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="https://github.com/sgrutman978/wristband" target="_blank"><span>Repo</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Firebase Data & Auth</span>
                        <span>Google Maps API</span>
                        <span>Phonegap</span>
                        <span>QR Code Generator</span>
                        <span>Stripe API</span>
                        <!-- <span>3D Printing</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/weiner.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Weiner Basketball Tournament Website & Broadcasting</h3>
                        <h5>Developer & Founder, Self Taught '13 - '15</h5> 
                        <p>During high school, I took the initiative to create a website for our annual basketball tournament, providing live scores and radio broadcast to families of players around the world. The site featured live box scores, web radio broadcast, an authentication page, and a backend data input GUI. I also helped organize the broadcasting and data input team.
                            All in all, I redesigned the website three years in a row, making improvements each iteration.
                        </p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="https://github.com/sgrutman978/weinerFever" target="_blank"><span>Repo</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>PHP</span>
                        <span>JS</span>
                        <span>SQL</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-box gy-5" style="background-image: url(assets/img/surfboard.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Surfboard</h3>
                        <h5>Founder & Dev, Self Taught, '13 - '15</h5> 
                        <p>Surfboard was another project I created in my free time during high school. It was a social medi site with features similar to "Microsoft Paint", but could include drag and droppable video iframe's, images, and text. Essentially, a digital billboard social network.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" href="https://github.com/sgrutman978/surfboard" target="_blank"><span>Repo</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>JS</span>
                        <span>PHP</span>
                        <span>SQL</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

