<main class="wrapper" id="scroll-container">

    <section id="home" spyTarget="home"  class="spy-section home-section">
        <app-home></app-home>
    </section><br><br>

    <section id="about" spyTarget="about" class="section pt-0">
        <app-experience></app-experience>
      </section>



    <!-- <section class="py-3 py-md-4 brand-section gray-bg">
      <app-brands></app-brands>
    </section> -->

    <!-- <section id="services" spyTarget="services"  class="spy-section section">
        <app-services></app-services>
    </section> -->

    <section id="project" spyTarget="project" class="spy-section project-section section pt-0">
      <app-work></app-work>
    </section>

 

  
   
    <!-- <section class="section effect-section">
        <app-testimonials></app-testimonials>
    </section> -->

    <!-- <section id="contactus" spyTarget="contactus" class="spy-section section contactus-section">
        <app-contact></app-contact>
    </section> -->

    <!-- <section id="about" spyTarget="about" class="spy-section about-section section">
        <app-about></app-about>
     </section><br> -->
   
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
          <p class="m-0 text-center">© 2024 copyright all right reserved</p>
      </div>
  </footer>
    <a href="#home"  id="return-to-top"><i class="bi-arrow-up-circle-fill"></i></a>
    <!-- End Footer --> 
</main>




<!-- POPUPS -->

   <!-- Snigle 1 -->
  <div class="modal fade" id="pop_games_popup" tabindex="-1" aria-labelledby="pop_games_popup" aria-hidden="true">
    <div class="modal-dialog px-modal">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="single-project-box">
            <div class="row align-items-start">
                <div class="col-lg-7">
                    <img class="border" src="assets/img/popt.png" title="" alt="">
                </div>
                <div class="col-lg-5 pt-4 pt-lg-0">
                    <h4>Proof of Play Games</h4><br>
                    <!-- <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                    <div class="about-content">
                        <ul>
                            <li class="d-flex">
                                Created ‘Speed Square” (iOS & Android) mobile game, players earn POPT tokens for playing
                            </li>
                            <li class="d-flex">
                                Grouped & managed Discord moderator team, utilized Helius RPC
                            </li>
                            <li class="d-flex">
                                <!-- <span class="col-4 col-lg-3">Langages:</span> -->
                                <span>Created POPT token, DeFi trading pairs, & minting Node.js server </span>
                            </li>
                            <li class="d-flex">
                                Added Phantom Connect functionality for wallet address verification for minting server
                            </li>
                            <li class="d-flex">
                                <!-- <span class="col-4 col-lg-3">Platform:</span> -->
                                <span>Created “Controller” NFT collection minting candy machine tied to POPT mint capacity/player</span>
                            </li>
                            <!-- <li class="d-flex">
                                <span class="col-4 col-lg-3">Type:</span>
                                <span>Website</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Langages:</span>
                                <span>PHP, HTML, CSS, JS</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Platform:</span>
                                <span>WordPress</span>
                            </li>
                            <li class="d-flex">
                                <span class="col-4 col-lg-3">Country:</span>
                                <span>USA</span>
                            </li> -->
                            <!-- <li class="d-flex"> -->
                                
                            <!-- </li> -->
                        </ul><br>
                        <span class="d-flex"><span class="col-4 col-lg-3">Live URL:</span>
                                <a href="popgames.net" target="_blank"><span>popgames.net</span></a></span>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Snigle 1 -->
<!-- Snigle 2 -->
<div class="modal fade" id="shelldon" tabindex="-1" aria-labelledby="project_2" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/shelldon.jpeg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>Shelldon Robot</h4>
                  <div class="about-content">
                    <ul>
                        <li class="d-flex">
                            Used AutoDesk Fusion 360 to design robot chassis, decor, & parts. 
                        </li>
                        <li class="d-flex">
                            Used Ultimaker Cura to slice & personal Ender 3 to print
                        </li>
                        <li class="d-flex">
                            Wired & assembled hardware, programmed multiple Arduino board & components
                        </li>
                        <li class="d-flex">
                            Created Node.js server (on Digital Ocean droplet) to handle remote wireless commands to robot
                        </li>
                        <li class="d-flex">
                            Created webpage to handle live camera raw video frames data & remote wifi controller
                        </li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 2 -->
<!-- Snigle 3 -->
<div class="modal fade" id="wwg" tabindex="-1" aria-labelledby="project_3" aria-hidden="true">
  <div class="modal-dialog px-modal">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="single-project-box">
          <div class="row align-items-start">
              <div class="col-lg-7">
                  <img class="border" src="assets/img/wwg.jpg" title="" alt="">
              </div>
              <div class="col-lg-5 pt-4 pt-lg-0">
                  <h4>We Want Green LLC</h4>
                  <p class="mb-3">Cryptocurrency mining company</p>
                  <!-- <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
                  <div class="about-content">
                      <ul>
                          <li class="d-flex">
                            Eֵֵֵֵֵֵֵֵxpanded decentralized Helium IoT Network with over 30 hotspots, early adopter
                          </li>
                          <li class="d-flex">
                            Acquire vendors, manage books, install hotspots & cameras, distribute earnings
                          </li>
                          <li class="d-flex">
                            Expanded Hivemapper dataset with 5 cameras & QA AI training, early adopter
                          </li>
                          <li class="d-flex">
                            Built proprietary minting income calculator
                          </li>
                          <li class="d-flex">
                            Setup Node.JS server (& host) to handle DIY hotspot LoRa Helium Proof of Coverage data
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- End Snigle 3 -->