.px-modal {
    .modal-content{
        border:none;
    }
    .modal-body{
        padding:0px;
    }
}
li{
    display: list-item !important;
}
li::marker {
    content: circle !important;
    // display: list-item;
}
ul{
    // display: list-item;
    list-style: disc !important;
}