
<div class="container">
    <div class="section-heading text-center mb-2">
        <h2 class="m-0">I pride myself on being...</h2>
    </div><br><br>
    <div class="row justify-content-between">
        <div class="col-lg-6">
            <!-- <div class="section-heading">
                <h6>MY BEST TRAITS</h6>
                <h2>Transform your website dreams into a reality in just a few simple steps.</h2>
                <div class="btn-bar mt-4">
                    <a class="px-btn dark" href="javascript:"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div> -->
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="fa fa-paintbrush"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Creative</h5>
                    <p>I love coming up with creative ideas to better my life and those around me. I have always had an exploratory mindset, constantly tinkering and building, questioning why things are as they are, and devoting time and energy to create. I just love building things!</p>
                    <!-- <ul>
                        <li>Reviewing any existing branding</li>
                        <li>Target audience and competitors research</li>
                        <li>Developing a strategy</li>
                    </ul> -->
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="fa fa-bullseye"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Dedicated</h5>
                    <p>When I invest my time and effort, I go "full force". I will stay up late into the night to figure out a logical error or to finish a component. I don't stop until the project is done, and I never give up on anything until I have exhausted all options. </p>
                    <!-- <ul>
                        <li>Reviewing any existing branding</li>
                        <li>Target audience and competitors research</li>
                        <li>Developing a strategy</li>
                    </ul> -->
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="fa fa-chart-bar"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Intelligent</h5>
                    <p>I try my best to listen to others and to absorb their thoughts and ideas. I enjoy learning new things, working with new technologies, and I am a huge history buff and political junky. Exploring deep and important issues and conversations is extremely engaging for me. Plus, I'm good at math! </p>
                    <!-- <ul>
                        <li>Reviewing any existing branding</li>
                        <li>Target audience and competitors research</li>
                        <li>Developing a strategy</li>
                    </ul> -->
                </div>
            </div>
            
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="fa fa-person"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Genuine</h5>
                    <p>Sometimes to my own detriment, I am brutally honest. I am not shy to be myself no matter what anyone else will think, and I strongly stick to my principles and intuition. You will always know what I am thinking, I am an open book. Don't believe me? Ask my wife lol </p>
                    <!-- <ul>
                        <li>Reviewing any existing branding</li>
                        <li>Target audience and competitors research</li>
                        <li>Developing a strategy</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

