<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
        </div>
    </div>
    <div class="row gy-5">
        <div class="col-lg-6">
            <div class="contact-form">
                <div class="section-heading mb-4">
                    <h6>Get in Touch</h6>
                    <h2 class="text-white mb-3">Let's Discuss Projects</h2>
                    <p class="text-white text-opacity-75">Get in touch with us for any kind of help. We are here to give you the best and also here to help you to find your projects.</p>
                </div>
                <form id="contact-form" method="POST">
                    <div class="row gx-3 gy-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">First name</label>
                                <input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Your Email</label>
                                <input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label">Subject</label>
                                <input name="Subject" id="subject" placeholder="Subject *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Your message</label>
                                <textarea name="message" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send">
                                <button class="px-btn white w-100" type="button" value="Send"> Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 ms-auto col-xl-4">
            <h3 class="contact-info-title">Let’s Discuss Your Project</h3>
            <ul class="contact-infos">
                <li>
                    <div class="icon bg-1">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="col">
                        <h5>Phone</h5>
                        <p>+01 123 654 8096</p>
                    </div>
                </li>
                <li>
                    <div class="icon bg-2">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="col">
                        <h5>Mail</h5>
                        <p>info@domainname.com</p>
                    </div>
                </li>
                <li>
                    <div class="icon bg-3">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col">
                        <h5>Visit My Studio</h5>
                        <p>Warnwe Park Streetperrine, <br>FL 33157 New York City</p>
                    </div>
                </li>
            </ul>
            <div class="google-map mt-5">
                <div class="ratio ratio-4x3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3151.840107317064!2d144.955925!3d-37.817214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1520156366883" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>