<div class="fixed-skill">
    <ul>
        <li>
            <label>My Expertise</label>
        </li>
        <li>
            <span>
                <img src="assets/img/python.png" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/java.svg" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/react.png" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/angular.png" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/sql.svg" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/swift.svg" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/html_5.svg" title="" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/css_3.svg" title="" alt="">
            </span>
        </li>
    </ul>
</div>
<div class="container">
    <div class="row align-items-end">
        <div class="col-lg-7">
            <div class="hs-text-box">
                <h1>I'm Steven</h1>
                <h2>I'm <span class="typed-element"></span></h2>
                <div class="btn-bar">
                    <a class="px-btn light" href="javascript:"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>
                <div class="review-box">
                    <div class="r-box" style="text-align: center;">
                        <h4><img src="assets/img/bt.png" width="72"></h4>
                        <label>Proud Warrior</label>
                    </div>
                    <div class="r-box" style="text-align: center;">
                        <h4><img src="assets/img/terps.png" width="100" style="text-align: center;"></h4>
                        <label>Proud Terp</label>
                    </div>
                    <div class="r-box" style="text-align: center;">
                        <h4><img src="assets/img/crypto.png" width="100"></h4>
                        <label>Crypto Devotee</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="hs-banner">
                <img src="assets/img/clear-me.png" title="" alt="">
            </div>
        </div>
    </div>
</div>